/* Stylesheet */

body {

}
/* Grid Container below */
.container {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 1fr 1fr 50px;
    grid-template-areas: 
    "header-left . header-right"
    ". logo ."
    ". form ."
    ". . ."
    "footer-left footer footer-right";
}
/* Grid Container above */

a:hover {
    cursor: pointer;
    text-decoration: underline;
}
.search-btn:hover {
    cursor: pointer;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
}
#header-left {
    display: flex;
    position: fixed;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 1000px;
    grid-area: header-left;
}
#header-right {
    display: flex;
    position: fixed;
    flex-direction: row-reverse;
    top: 0;
    right: 0;
    width: 1000px;
    grid-area: header-right;
}

#logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-form {
    grid-area: form;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-width: 580px;
}
#footer-left {
    display: flex;
    position: fixed;
    flex-direction: row;
    bottom: 0;
    left: 0;
    width: 1000px;
    grid-area: footer-left;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}
#footer-right {
    display: flex;
    position: fixed;
    flex-direction: row-reverse;
    bottom: 0;
    right: 0;
    width: 950px;
    grid-area: footer-right;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;  
}
.wrapper {
    position: relative;
    display: flex;
    min-width: 500px;
    min-height: 50px;
}
.search-icon {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 18px;
}
.search {
    border: 1px solid lightgrey;
    border-radius: 24px;
    height: 44px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    font-size: 1.25rem;
}
.wrapper:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
    border-radius: 24px;
}
.search-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 18px 0px;
    width: 580px;
}
.search-btn-wrapper {
    display: flex;
    position: relative;
    min-height: 26px;
    min-width: 300px;
}
.search-btn {
    min-height: 28px;
    min-width: 100px;
    font-size: 1rem;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: 1px solid #f2f2f2;
    color: #5F6368;
}

.navbar {
    display: flex;
    margin: 30px
    padding: 10px;
    flex-wrap: wrap;
}
.navbar-items {
    display: flex;
    margin: 15px;
    padding: 5px;
    flex-wrap: wrap;
}

